<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.dynamicvibration"
    version="0.1">

    <name>DMSVibration</name>
    <description>Dynamic Methods VIbration Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,vibration</keywords>
    
    <js-module src="www/vibration.js" name="DMSVibrate">
        <clobbers target="dms" />
    </js-module>

   
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DMSVibrate">
        	<param name="ios-package" value="DMSVibrate" />
       		 <param name="onload" value="true" />
    	    </feature>
        </config-file>
        <header-file src="src/ios/DMSVibrate.h" />
	    <source-file src="src/ios/DMSVibrate.m" />

		<framework src="AudioToolbox.framework" weak="true" />
    </platform>
	
</plugin>
